html { height: 100%; }
body {
    margin: 0; /* Убираем отступы */
    height: 100%; /* Высота страницы */
  background: url("fon.png") no-repeat;
  background-size: cover;

}
.page-header {
  background: url("header.png");
  width: 100%;
  height: 60px;
  margin: 0px;
  padding-top: 12px;
}
.search
{
  display: inline-block;
  margin-left: 390px;
  float: left;
}
.age-limit{
  margin: 12px 0 0 20px;
  display: inline-block;
}

 
 