html { height: 100%; }
body {
    margin: 0; /* Убираем отступы */
    height: 100%; /* Высота страницы */
  background: url("fon.png") no-repeat;
  background-size: cover;

}
.page-header {
  background: url("header.png");
  width: 100%;
  height: 50px;
  margin: 0px;
  padding-top: 12px;
}
.search
{
  display: inline-block;
  margin-left: 390px;
  width: 454px;
}
.age-limit{
  vertical-align: top;
  margin: 12px 0 0 16px;
  display: inline-block;
}
.icons-up
{
display: inline-block;
  margin-left: 414px;
  margin-top: 19px;
}
 .background-button
 {
   background: url("back.png") no-repeat;
   margin: 18px 0 0 388px;
 }
 .button2
 {
   margin: -235px 0 0 462px;
 }